body {
    background: $bg;
    color: $text;
    min-height: 1000px;
}

.font-large {
    font-size: 1.5rem;
}

#message-container {
    border: 1px solid $border;
    padding: 1rem;
}

.message-wrapper {
    padding: 1em 0 .5em 0;
    border-top: 1px dotted transparent;
    margin-top: 1.25rem;
    .btn {
        float: right;
        cursor: pointer;
        padding-top: .1em;
        padding-bottom: .1em;
        font-size: .875em;
        &.btn-outline-danger {
            border-color: $button;
            color: $button;
            &:hover, &:active {
                color: $bg;
                background: $button;
                border-color: $button;
            }
            &:focus, &:active {
                box-shadow: 0 0 0 0.2rem rgba($button,.5)
            }
        }
    }
    &:hover {
        border-color: $border;
    }
    .meta {
        background: $bg;
        padding-right: .5em;
        margin-top: -2.1em;
        margin-bottom: 1.75em;
        display: inline-block;
        position: absolute;
        .user {
            font-size: 1.3em;
            margin-right: .5em;
        }
        .timestamp {
            color: rgba($text, .5);
        }
    }
}