body {
    background: $bg;
    color: $text;
    min-height: 1000px;
}

.font-large {
    font-size: 1.5rem;
}

#message-container {
    border: 1px solid $border;
    padding: 1rem;
}

nav {
    #logo {
        font-family: "Pacifico", serif;
        @media screen and (min-width: 10rem) {
            font-size: 2rem;
        }
    }
    background: $nav-bg;
    .btn-group {
        justify-content: center;
        label.btn-secondary, .input-group-addon {
            background: $accent;
            color: $nav-bg;
            border-color: darken($accent, 10%);
            &:hover {
                background: darken($accent, 10%);
                border-color: darken($accent, 20%);
                color: $nav-bg;
            }
            &:active, &:focus {
                background: darken($accent, 10%) !important;
                border-color: darken($accent, 10%) !important;
                box-shadow: 0 0 0 0.2rem rgba($accent,.5) !important;
                color: $nav-bg !important;
            }
        }
    }
    label.btn-secondary, .input-group-addon {
        background: $accent;
        color: $nav-bg;
        border-color: darken($accent, 10%);
        &:hover {
            background: darken($accent, 10%);
            border-color: darken($accent, 20%);
            color: $nav-bg;
        }
        &:active, &:focus {
            background: darken($accent, 10%) !important;
            border-color: darken($accent, 10%) !important;
            box-shadow: 0 0 0 0.2rem rgba($accent,.5) !important;
            color: $nav-bg !important;
        }
    }
}

.btn-danger {
    background: $button;
    color: $bg;
    cursor: pointer;
    border-color: $button;
    &.disabled {
        color: $bg;
        background: $button;
        border-color: $button;
    }
    &:hover {
        background-color: darken($button, 10%);
        border-color: darken($button, 10%);
    }
    &:active, &:focus {
        box-shadow: 0 0 0 0.2rem rgba($button,.5) !important;
        border-color: darken($button, 10%) !important;
    }
    &:active {
        background-color: darken($button, 10%) !important;
    }
}

.message-wrapper {
    padding: 1em 0 .5em 0;
    border-top: 1px dotted transparent;
    margin-top: 1.25rem;
    .btn {
        float: right;
        cursor: pointer;
        padding-top: .1em;
        padding-bottom: .1em;
        font-size: .875em;
        &.btn-outline-danger {
            border-color: $button;
            color: $button;
            &:hover, &:active {
                color: $bg;
                background: $button;
                border-color: $button;
            }
            &:focus, &:active {
                box-shadow: 0 0 0 0.2rem rgba($button,.5)
            }
        }
    }
    &:hover {
        border-color: $border;
    }
    .meta {
        background: $bg;
        padding-right: .5em;
        margin-top: -2.3em;
        margin-bottom: 1.75em;
        display: inline-block;
        position: absolute;
        .user {
            font-size: 1.5em;
            margin-right: .5em;
            font-family: "Pacifico";
        }
        .timestamp {
            color: rgba($text, .5);
        }
    }
}