
#message-container {
    border: 1px solid #CCC;
    padding: 1rem;
}

.font-large {
    font-size: 1.5rem;
}

.message-wrapper {
    padding: .75rem 0 .5rem 0;
    border-top: 1px dotted transparent;
    margin-top: 1rem;
    .btn {
        float: right;
        cursor: pointer;
        padding-top: .1rem;
        padding-bottom: .1rem;
    }
    &:hover {
        border-color: #c9c9c9;
    }
    .timestamp {
        background: #fff;
        padding-right: .5rem;
        margin-top: -1.5rem;
        margin-bottom: 1.5rem;
        display: inline-block;
        position: absolute;
    }
}